<% if @name1 && @name2 %>
<h1>First player: <%=@name1%>; second player: <%=@name2%></h1>
<h1><%=@name1%> HP: <%=@hit_points%>, <%=@name2%> HP: <%=@hit_points%> </h1>
<!-- <button type="button" onclick="<%=@confirmation%>">Attack</button> -->
<form action="/attack" method="post">
  <input type = "submit" value = "Attack!"/>
</form>
  <% if @attack == true %>
  <h2><%=@name1%> attacked <%=@name2%></h2>
  <% end %>
<% end %>
